{% extends 'base.html.twig' %}

{% block title %}Liste des modules d'enseignement{% endblock %}

{% block body %}

    <h1>Liste des modules d'enseignement</h1>

    {% for sessionModule in sessionModules %}

        {{ sessionModule.nomSessionModule }}<br>
        
    {% endfor %}

{% endblock %}
