{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    {% for stagiaire in stagiaires %}

    <a href="{{ path('show_stagiaire', {'id' : stagiaire.id}) }}">{{ stagiaire.prenom }} {{ stagiaire.nom }}</a> - habitant à {{ stagiaire.ville }}<br>
        
    {% endfor %}

{% endblock %}
