{% extends 'base.html.twig' %}

{% block title %}Liste des modules d'enseignement{% endblock %}

{% block body %}

    <h1>Liste globale des modules d'enseignement</h1>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>
                    Module
                </th>
                <th>
                    Catégorie
                </th>
            </tr>
        </thead>

        <tbody>
            {% for sessionModule in sessionModules %}
                <tr>
                    <td>
                        {{ sessionModule.nomSessionModule }}
                    </td>
                    <td>
                        {{ sessionModule.categorie.nomCategorie }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}
